[Unit]
Description=XBindKeys
Wants=gnome-session-initialized.target
After=gnome-session-initialized.target

[Service]
# Type=simple
Restart=always
ExecStart=/usr/bin/xbindkeys -n -f %h/.config/xbindkeys
RestartSec=5s

[Install]
WantedBy=gnome-session.target
